<<<<<<< HEAD

@font-face 
{
    font-family: "nunito";
    src: url(fonts/NunitoSans-Regular.ttf),
        url(fonts/NunitoSans-Bold.ttf);
}
*
{
margin: 0;
padding: 0;
}
body, html
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 100%;
min-height: 100vh;
}
h3
{
font-family: "nunito";
font-weight: bold;
font-size: 1.2rem;
}
h2
{
font-family: "nunito";
font-weight: bold;
font-size: 1.8rem;
}
h1
{
font-family: "nunito";
font-weight: bold;
font-size: 2.4rem;
}
.font_text
{
font-family: "nunito";
font-size: 1rem;
=======
@font-face 
    {
        font-family: "nunito";
        src: url(fonts/NunitoSans-Regular.ttf),
            url(fonts/NunitoSans-Bold.ttf);
    }
*
{
    margin: 0;
    padding: 0;
}
body, html
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
}
h3
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.2rem;
}
h2
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.8rem;
}
h1
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 2.4rem;
}
.font_text
{
    font-family: "nunito";
    font-size: 1rem;
>>>>>>> main
}

.container_article
{
<<<<<<< HEAD
display: flex;
flex-direction: column;
row-gap: 3rem;
padding: 1.5rem;
max-width: 80rem;
}
.container_article div
{
display: flex;
flex-direction: column;
row-gap: 1.5rem;
=======
 display: flex;
 flex-direction: column;
 row-gap: 3rem;
 padding: 1.5rem;
 max-width: 80rem;
}
.container_article div
{
 display: flex;
 flex-direction: column;
 row-gap: 1.5rem;
>>>>>>> main
}