@font-face 
    {
        font-family: "nunito";
        src: url(fonts/NunitoSans-Regular.ttf),
            url(fonts/NunitoSans-Bold.ttf);
    }

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
.header{
    position: fixed;
    top: 3%; /* pour que le header soit toujours au bon endroit*/
}
#home-bg{
    background: url("blue.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.card div{
    justify-content: center;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    border: none;
}
.card a{
    margin: 0 3rem;
}

#blue{
    border-color: #60D8E5;
    border: 1px solid #60D8E5;
    transition: 0.4s;
}
#purple{
    border-color: #B670D3;
    border: 1px solid #B670D3;
    transition: 0.4s;
}
#red{
    border-color: #EC5971;
    border: 1px solid #EC5971;
    transition: 0.4s;
}
#blue:hover{
    background-color: #60D8E5;
    color: white;
    transition: 0.4s;
}
#purple:hover{
    background-color: #B670D3;
    color: white;
    transition: 0.4s;
}
#red:hover{
    background-color: #EC5971;
    color: white;
    transition: 0.4s;
}
#bluetext{
    color: #60D8E5;
}
#purpletext{
    color: #B670D3;
}
#redtext{
    color: #EC5971;
}
.card{
    padding: 1rem 4rem 0 4rem;
    position: relative;
    display: flex;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
}

img
{
    width: 100%;
    height: auto; 
}


.marge
{
    margin: 2rem;
    margin-top: 6rem;
}

a span:hover,  .menu p:hover, .button:hover
{
    color: #60d8e5;
}



/* FONTS */

h3
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.2rem;
    color: #3d3431;
}

h2
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.8rem;
    color: #60d8e5;
}

h1
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 2.4rem;
    color: #3d3431;
    margin-bottom: 1rem;
}

.font_text
{
    font-family: "nunito";
    font-size: 1rem;
    color: #484143;
}



/* EFFETS */

.line
{
    line-height: 1.85rem;
}

.lightgrey
{
    color: #9a9796;
    font-style: italic;
}

.mediumgrey
{
    color: #7b7372;
    font-style: italic;
}

.bold
{
    font-weight: bold;
}

.bolder
{
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    margin-bottom: 3rem;  
}

.space
{
    display: flex;
    column-gap: 1.4rem;
    flex-wrap: wrap;
}


/* CONTAINER */

        /* articles */
        .container_article
        {
            display: flex;
            flex-direction: column;
            row-gap: 4rem;
            max-width: 70rem; 
        }

        .container_article div
        {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
        }

        .container_article .double_titre 
        {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 8rem;
        }

        .container_article .big_title
        {
            row-gap: 0rem;
            margin-top: 4rem;
            margin-bottom: 1.4rem;
        }

     

        /* index */

        .container_index
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 60rem;
        }
        .container_index p
        {
            line-height: 1.6rem;
        }



/* Tableau ? */

td{
    border : 1px solid black;
}
td:nth-child(even) {
    text-align: center;
}
td:nth-child(odd) {
    padding-left: 4px;
}
table{
    border-collapse: collapse;
    max-width: 60%;
    /*
    margin: auto;
    */
}
/* cartes des rubriques */
#rubriques{
    display: flex;
    flex-direction: column;
}
#rubriques h2{
    text-align: center;
}
#rubriques img{
    max-width: 20rem;
    height: auto;
    align-self: center;
}
#fiches-contact{
    display: flex;
    flex-direction: column;
    column-gap: 4rem;
}
#fiches-contact li{
    padding: 0 1rem;
    font-size: 1.25rem;
}
#fiches-contact li:nth-child(1){
    list-style-image: url('../images/icons/mobile.png');
}
#fiches-contact li:nth-child(2){
    list-style-image: url('../images/icons/mail.png');
}
#fiches-contact li:nth-child(3){
    list-style-image: url('../images/icons/github.png');
}
#fiches-contact li:nth-child(4){
    list-style-image: url('../images/icons/business.png');
}
/* HEADER */

        /* Logo */

        .header img
        {
            max-width: 8rem;
            height: auto;
            margin-left: 2rem;
            padding-right: 2rem;
        }

        /* Menu */

            /* Hamburger icon*/

            .hamburger_icon
            {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                cursor: pointer;
                padding-top: 6px;
                margin-right: 2rem;
            }
            .hamburger_icon div
            {
                width: 3rem;
                height: 5px;
                background-color: #3d3431;
                border-radius: 20px;
            }

            .hamburger_icon:hover div
            {
                background-color: #60d8e5;
            }

            /* Display */

            .header
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center; 
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 6rem;
                background-color: white;
            }

            .menu
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: 6;
                background-color:rgba(255, 255, 255, 1);
                display: none;
                row-gap: 10%;
            }

            .menu p
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: #3d3431;
                z-index: 10; 
                font-weight: bolder; 
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-family: "nunito";
            }
        
            .tool
            {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .croix
            {
                font-size: 2rem;
                font-family: "nunito";
                font-weight: bolder;
                display: none;
                color: #3d3431;
                z-index: 10;
                cursor: pointer;
                right: 4.5rem;
                position: fixed;
            }

            .cocher
            {
                display: none;
            }

            /* Condition */

            #nav_button:checked ~ .menu p 
            {
                display: flex;
                z-index: 10;
            }

            #nav_button:checked ~ .croix 
            {
                display: flex;
            }

            #nav_button:checked ~ .hamburger  
            {
                display: none;
            }

            #nav_button:checked ~ .menu  
            {
                display: flex;
            }




/* APRES MOBILE */
@media screen and (min-width:30rem)

{
    .container_article
    {
        display: flex;
        flex-direction: column;
        row-gap: 6rem;
        max-width: 70rem;
    }

    .container_article div
    {
        row-gap: 3rem;
    }

    .marge 
    {
        margin: 4rem;
        margin-top: 6rem;
    }

    .header img
    {
        margin-left: 4rem;
    }

    .hamburger_icon
    {
        margin-right: 4rem;
    }
    #rubriques{
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* INDEX */

@media screen and (min-width:60rem)
{
    .container_index
    {
        align-items: center;
    }
    .container_index p
    {
        text-align: center;
    }
    #rubriques{
        flex-direction: row;
    }
    #fiches-contact{
        flex-direction: row;
    }
}


/* TRANSITION HAMBURGER - MENU */

@media screen and (min-width:78rem)
{

        /* Menu */

        .menu
        {
            position: static;
            display: flex;
            width: inherit;
            height: inherit;
            justify-content: flex-end;
            flex-direction: row;
        
            column-gap: 3rem;
            background-color: inherit;
            margin-right: 4rem;
        }

        .menu p 
        {
            width: inherit; 
           
            text-transform: none;
            letter-spacing: inherit;
        }

        label 
        {
            display: none;
        }

        .menu__barre
        {
            display: flex; 
        }
        #nav_button:checked ~ .croix 
        {
            display: none;
        }
        #rubriques{
            flex-direction: row;
            flex-wrap: nowrap;
        }
}



