/* BASICS */

@font-face 
{
    font-family: "nunito";
    src: url(fonts/NunitoSans-Regular.ttf),
        url(fonts/NunitoSans-Bold.ttf);
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
.header{
    position: fixed;
    top: 3%; /* pour que le header soit toujours au bon endroit*/
}
#home-bg{
    background: url("../images/icons/homecircle-mobile.png") fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}
.card div{
    justify-content: center;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    border: none;
}
.card a{
    margin: 0 3rem;
}

#blue{
    border-color: #60D8E5;
    border: 1px solid #60D8E5;
    transition: 0.4s;
}
#purple{
    border-color: #B670D3;
    border: 1px solid #B670D3;
    transition: 0.4s;
}
#red{
    border-color: #EC5971;
    border: 1px solid #EC5971;
    transition: 0.4s;
}
#blue:hover{
    background-color: #60D8E5;
    color: white;
    transition: 0.4s;
}
#purple:hover{
    background-color: #B670D3;
    color: white;
    transition: 0.4s;
}
#red:hover{
    background-color: #EC5971;
    color: white;
    transition: 0.4s;
}
#bluetext{
    color: #60D8E5;
}
#purpletext{
    color: #B670D3;
}
#redtext{
    color: #EC5971;
}
.card{
    padding: 1rem 4rem 0 4rem;
    position: relative;
    display: flex;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
}

img
{
    width: 100%;
    height: auto;
}

.marge, .marge2
{
    margin: 2rem;
    margin-top: 6rem;
  
}




/* FONTS */

h3
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.2rem;
    color: #3d3431;
}

h2
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.8rem;
}

h1
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 2.4rem;
    color: #3d3431;
    margin-bottom: 1rem;
}

.font_text
{
    font-family: "nunito";
    font-size: 1rem;
    color: #484143;
}



/* SHAPES */

.button_red, .button_blue, .button_purple
{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3431;
    color:  white;
    width: 120px;
    height: 44px;
    border-radius: 6px;
    letter-spacing: 0.1rem;
}

.barre
{
    width: 2px;
    height: 26px;
    background-color: #ebeaea;
    display: none;
}


/* HOVER */

.button_red:hover
{
    background-color: #ec5971; 
}
.button_blue:hover
{
    background-color: #4addff; 
}
.button_purple:hover
{
    background-color: #a960e5; 
}

.container_article a span:hover, .button:hover
{
    color: #4addff;
}

.menu p:hover, .croix:hover
{
    color: #9a9796
}

.hamburger_icon:hover div
{
    background-color: #9a9796;
}



/* STYLES */

.red 
{
    color: #ec5971;
}

.blue 
{
    color: #4addff;
}

.purple 
{
    color: #a960e5;
}

.line
{
    line-height: 1.85rem;
}

.lightgrey
{
    color: #9a9796;
    font-style: italic;
}

.mediumgrey
{
    color: #7b7372;
    font-style: italic;
}

.bold
{
    font-weight: bold;
}

.bolder
{
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    margin-bottom: 3rem;  
   
 
}

.space
{
    display: flex;
    column-gap: 1.4rem;
    flex-wrap: wrap;
}



/* CONTAINER */

        /* articles */
        .container_article
        {
            display: flex;
            flex-direction: column;
            row-gap: 4rem;
            max-width: 70rem; 
            margin: 0 auto;

        }
      
        .container_article div
        {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
        }

        .container_article .double_titre 
        {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 8rem;
        }

        .container_article .big_title
        {
            row-gap: 0rem;
            margin-top: 4rem;
            margin-bottom: 1.4rem;
        }

        .container_contact
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            text-align: center;
            flex-direction: column;
            row-gap: 8rem;
            max-width: 80rem;
            
          
        }

      
        /* index */
        

        .container_index
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
           
            
            
            
            
            max-width: 50.5rem;
            
        
        }
        .container_index p
        {
            line-height: 1.6rem;
           
           
        }
        .lucnico
        {
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
        }
  

        /* Navigation article */

        .container_nav_article
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 2rem;  
            row-gap: 10rem;
        }

        

        .container_nav_article__item
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
            row-gap: 3rem;
            text-align: center;
        }

        .container_nav_article__item img, .container_item img
        {
            max-width: 24rem;
        }

        .container_nav_article__item__group, .container_item__specific
        {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            align-items: center;
        }

    

        .container_nav_article__item__title, .container_item__specific__title
        {
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 1.1rem;
        }

        .container_nav_article__item__titlebis
        {
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            font-weight: bold;
            display: none;
            font-size: 1.1rem;
        }

        
        
      /* container item */

      .container_item 
      {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        
          justify-content: space-evenly;
          align-items: center;
          max-width: 120rem;
         
         
     
         
          
          
        margin: 0 auto;
          margin-top: 2rem;  
          row-gap: 10rem;
          column-gap: 8rem;
      
      
      }

      .container_item__specific
      {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          max-width: 22rem;
          column-gap: 6rem;
          row-gap: 3rem;


    
  
      }

 


/* Tableau ? */

td{
    border : 1px solid black;
}
td:nth-child(even) {
    text-align: center;
}
td:nth-child(odd) {
    padding-left: 4px;
}
table{
    border-collapse: collapse;
    max-width: 60%;
    /*
    margin: auto;
    */
}
/* cartes des rubriques */
#rubriques{
    display: flex;
    flex-direction: column;
}
#rubriques h2{
    text-align: center;
}

.card{
    padding: 1rem 4rem 0 4rem;
}
button{
    background-color:#60d8e5;
    border-radius: 10px;
    margin: 0 3rem;
    padding: 0.5rem 0;
    font-size: 1rem;
}


#fiches-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
    flex-wrap: wrap;
}
#fiches-contact li{
    padding: 0 1rem;
    font-size: 1.25rem;
}
#fiches-contact li:nth-child(1){
    list-style-image: url('../images/icons/mobile.png');
}
#fiches-contact li:nth-child(2){
    list-style-image: url('../images/icons/mail.png');
}
#fiches-contact li:nth-child(3){
    list-style-image: url('../images/icons/github.png');
}
#fiches-contact li:nth-child(4){
    list-style-image: url('../images/icons/business.png');
}


/* HEADER */

        /* Logo */

        .header img
        {
            width: 120px;
            height: auto;
            margin-left: 2rem;
            padding-right: 2rem;
        }

        /* Menu */


            /* Hamburger icon*/

            .hamburger_icon
            {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                cursor: pointer;
                padding-top: 8px;
                margin-right: 2rem;
            }
            .hamburger_icon div
            {
                width: 3rem;
                height: 5px;
                background-color: #3d3431;
                border-radius: 20px;
            }

            


            /* Display */

            .header
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center; 
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 6rem;
                background-color: white;
                z-index: 3;
            }

            .menu
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: 4;
                background-color:rgba(255, 255, 255, 0.94);
                display: none;
                row-gap: 10%;
            }

            .menu p
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: #3d3431;
                z-index: 10; 
                font-weight: bolder; 
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-family: "nunito";
            }
        
            .tool
            {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .croix
            {
                font-size: 2rem;
                font-family: "nunito";
                font-weight: bolder;
                display: none;
                color: #3d3431;
                z-index: 10;
                cursor: pointer;
                right: 4.5rem;
                position: fixed;
            }

            .cocher
            {
                display: none;
            }


            /* Condition */

            #nav_button:checked ~ .menu p 
            {
                display: flex;
                z-index: 10;
            }

            #nav_button:checked ~ .croix 
            {
                display: flex;
            }

            #nav_button:checked ~ .hamburger  
            {
                display: none;
            }

            #nav_button:checked ~ .menu  
            {
                display: flex;
            }




/* TABLET */
@media screen and (min-width:30rem)

{

  
    .marge, .marge2
    {
        margin: 4rem;
        margin-top: 8rem;
    }

    .header
    {
        height: 8rem;
    }

    .header img
    {
        margin-left: 4rem;
    }

    .container_article
    {
        display: flex;
        flex-direction: column;
        row-gap: 6rem;
        max-width: 70rem;
    }

    .container_article p
    {
        text-align: justify;
    }

    .container_article div
    {
        row-gap: 3rem;
    }

    .hamburger_icon
    {
        margin-right: 4rem;
    }

    #rubriques
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    #home-bg{
        background: url("../images/icons/homecircle.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }



}

/* PC */

@media screen and (min-width:70rem)
{

    

    .container_index
    {
        align-items: center;
        text-align: justify;
        text-align-last: center;
    }
        
    .marge2
    {
        margin: 8rem;
        
    }
    .marge
    {
        margin: 4rem;
        margin-top: 8rem;
    }
    .container_item 
    {
        display: flex;
        flex-direction: row;
    }

    /* Menu */

    .menu
    {
        position: static;
        display: flex;
        width: inherit;
        height: inherit;
        justify-content: flex-end;
        flex-direction: row;
        column-gap: 3rem;
        background-color: inherit;
        margin-right: 4rem;
    }

    .menu p 
    {
        width: inherit; 
        text-transform: none;
        letter-spacing: inherit;
    }

    label 
    {
        display: none;
    }

    .menu__barre
    {
        display: flex; 
    }

    .barre
    {
        display: flex;
    }

    #nav_button:checked ~ .croix 
    {
        display: none;
    }
    #rubriques{
        flex-direction: row;
    }
    #fiches-contact{
        flex-direction: row;
    }
    #home-bg{
        background: url("../images/icons/homecircle.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }


    /* Navigation article */

    .container_nav_article
    {
        row-gap: 8rem;
        margin-top: 2rem;  
       
    }

    .container_nav_article__item
    {
        display: flex;
        flex-direction: row;
        row-gap: 6rem;
        column-gap: 16rem;
    }

    .container_nav_article__item__title
    {
        display: none;
    }

    .container_nav_article__item__titlebis
    {
        display: flex;
    }

    .container_nav_article__item__group
    {
        align-items: center;
        text-align: center;
        max-width: 24rem;
    }

            /* styles */
            
            .button_red, .button_blue,  .button_purple
            {
                margin-top: 2rem;
            }

            .reverse
            { 
                display: flex;
                flex-direction: row-reverse;
            }


    /* Index */
}
  
    





.credits 
{
    position: absolute;
    right: 4rem;
    bottom: 4rem;
  
}


