/* BASICS */

@font-face 
{
    font-family: "nunito";
    src: url(fonts/NunitoSans-Regular.ttf),
        url(fonts/NunitoSans-Bold.ttf);
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
<<<<<<< HEAD
=======
}
.header{
    position: fixed;
    top: 3%; /* pour que le header soit toujours au bon endroit*/
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
}
#home-bg{
    background: url("../images/icons/homecircle-mobile.png") fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}
.card div{
    justify-content: center;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    border: none;
}
.card a{
    margin: 0 3rem;
}

#blue{
    border-color: #60D8E5;
    border: 1px solid #60D8E5;
    transition: 0.4s;
}
#purple{
    border-color: #B670D3;
    border: 1px solid #B670D3;
    transition: 0.4s;
}
#red{
    border-color: #EC5971;
    border: 1px solid #EC5971;
    transition: 0.4s;
}
#blue:hover{
    background-color: #60D8E5;
    color: white;
    transition: 0.4s;
}
#purple:hover{
    background-color: #B670D3;
    color: white;
    transition: 0.4s;
}
#red:hover{
    background-color: #EC5971;
    color: white;
    transition: 0.4s;
}
#bluetext{
    color: #60D8E5;
}
#purpletext{
    color: #B670D3;
}
#redtext{
    color: #EC5971;
}
.card{
    padding: 1rem 4rem 0 4rem;
    position: relative;
    display: flex;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    font-family: "nunito";
    font-size: 1rem;
    color: #484143;
}

img
{
    width: 100%;
    height: auto;
}

<<<<<<< HEAD
.margin_one, .margin_two
{
    margin: 2rem;
    margin-top: 7rem;
}

.margin_three
{
    margin: 8rem;
    margin-top: 7rem;
}
=======
.marge, .marge2
{
    margin: 2rem;
    margin-top: 6rem;
  
}

>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870




/* FONTS */

h3
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.2rem;
    color: #3d3431;
}

h2
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.8rem;
}

h1
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 2.4rem;
    color: #3d3431;
    margin-bottom: 1rem;
}

/* icone contact */

#fiches-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
    flex-wrap: wrap;
    }
    #fiches-contact li{
    padding: 0 1rem;
    font-size: 1.25rem;
    }
    #fiches-contact li:nth-child(1){
    list-style-image: url('../images/icons/mobile.png');
    }
    #fiches-contact li:nth-child(2){
    list-style-image: url('../images/icons/mail.png');
    }
    #fiches-contact li:nth-child(3){
    list-style-image: url('../images/icons/github.png');
    }
    #fiches-contact li:nth-child(4){
    list-style-image: url('../images/icons/business.png');
    }


/* home-background */

#home-bg{
    background: url("../images/icons/homecircle-mobile.png") fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    }


/* SHAPES */

.button_red, .button_blue, .button_purple
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3431;
    color:  white;
    width: 120px;
    height: 44px;
    border-radius: 6px;
    letter-spacing: 0.1rem;
}

.barre
{
    width: 2px;
    height: 26px;
    background-color: #ebeaea;
    display: none;
}


/* HOVER */

.button_red:hover
{
    background-color: #ec5971; 
}

<<<<<<< HEAD
=======
/* SHAPES */

.button_red, .button_blue, .button_purple
{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3431;
    color:  white;
    width: 120px;
    height: 44px;
    border-radius: 6px;
    letter-spacing: 0.1rem;
}

.barre
{
    width: 2px;
    height: 26px;
    background-color: #ebeaea;
    display: none;
}


/* HOVER */

.button_red:hover
{
    background-color: #ec5971; 
}
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
.button_blue:hover
{
    background-color: #4addff; 
}
<<<<<<< HEAD

=======
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
.button_purple:hover
{
    background-color: #a960e5; 
}

<<<<<<< HEAD
.article a span:hover, .introduce a:hover, .contact a:hover, .button:hover
=======
.container_article a span:hover, .button:hover
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
{
    color: #4addff;
}

<<<<<<< HEAD
.menu div:hover, .croix:hover
=======
.menu p:hover, .croix:hover
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
{
    color: #9a9796
}

.hamburger_icon:hover div
{
    background-color: #9a9796;
}


<<<<<<< HEAD
=======

>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
/* STYLES */

.red 
{
    color: #ec5971;
}

.blue 
{
    color: #4addff;
}
<<<<<<< HEAD
=======

.purple 
{
    color: #a960e5;
}
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870

.purple 
{
    color: #a960e5;
}

.lightgrey
{
    color: #9a9796;
    font-style: italic;
}

.mediumgrey
{
    color: #7b7372;
    font-style: italic;
}

.bold
{
    font-weight: bold;
}

.bold2
{
    font-weight: bold;
    font-size: 1.2rem;
}

.bolder
{
    font-size: 2.4rem;
<<<<<<< HEAD
    letter-spacing: 0.2rem;
    margin-bottom: 3.4rem;  
=======
    letter-spacing: 0.8rem;
    margin-bottom: 3rem;  
   
 
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
}

.margebottom
{
    margin-bottom: 1rem;
}



/* CONTAINER */


        /* Accueil */

        .home
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
            max-width: 51rem;
        }


        /* articles */

        .article
        {
            display: grid;
            grid-auto-flow: row;
            row-gap: 4rem;
            max-width: 70rem; 
            margin: 0 auto;
<<<<<<< HEAD
=======

>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
        }
      
        .article__group 
        {
            display: grid;
            row-gap: 2rem;
            
        }

        .article .double_titre 
        {
        display: flex;
        flex-direction: row;
        row-gap: 1.4rem;
        column-gap: 5rem;
        flex-wrap: wrap;
        }


        /* category - category_specific */

        .category, .category_specific
        {
            display: grid;
            grid-auto-flow: row;
            row-gap: 8rem;
            margin: 0 auto;
        }  

<<<<<<< HEAD
        .category__item, .category_specific__item
        {
            display: grid;
            grid-auto-flow: row;
            row-gap: 3rem;
            justify-items: center;
            text-align: center;
        }

        .category__item__description, .category_specific__item__group
        {
            display: grid;
            text-align: justify;
            justify-items: center;
            align-items: center;
            row-gap: 1rem;
            text-align-last: center;   
            max-width: 22rem;
        } 
=======
        .container_contact
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            text-align: center;
            flex-direction: column;
            row-gap: 8rem;
            max-width: 80rem;
            
          
        }

      
        /* index */
        
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870

        .category_specific__item__group
        {
<<<<<<< HEAD
            text-align: center;
=======
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
           
            
            
            
            
            max-width: 50.5rem;
            
        
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
        }

        .category__item img, .category_specific__item img
        {
<<<<<<< HEAD
            max-width: 30rem;
=======
            line-height: 1.6rem;
           
           
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
        }
        .lucnico
        {
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
        }
  

<<<<<<< HEAD
        .category__item__title, .category_specific__item__title, .category_specific__item__group__titlebis
        {
            font-weight: bold;
            font-size: 1.8rem;
        }

        .category_specific__item__group__titlebis
        {
            display: none;
        }

        
        /* A propos */
   
        .introduce
        {
            max-width: 50.5rem;
            display: grid;
            row-gap: 2rem;
            margin: 0 auto;
        }


        /* contact */

        .contact
=======
        /* Navigation article */

        .container_nav_article
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 2rem;  
            row-gap: 10rem;
        }

        

        .container_nav_article__item
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
        {
            display: grid;
           row-gap: 8rem;
            justify-content: center;
            align-items: center;
<<<<<<< HEAD
            text-align: center;
        }

        .contact a
        {
            padding: 0.2rem;
        }


      


=======
            column-gap: 2rem;
            row-gap: 3rem;
            text-align: center;
        }

        .container_nav_article__item img, .container_item img
        {
            max-width: 24rem;
        }

        .container_nav_article__item__group, .container_item__specific
        {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            align-items: center;
        }

    

        .container_nav_article__item__title, .container_item__specific__title
        {
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 1.1rem;
        }

        .container_nav_article__item__titlebis
        {
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            font-weight: bold;
            display: none;
            font-size: 1.1rem;
        }

        
        
      /* container item */
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870

      .container_item 
      {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        
          justify-content: space-evenly;
          align-items: center;
          max-width: 120rem;
         
         
     
<<<<<<< HEAD
      

 

        
        
  
=======
         
          
          
        margin: 0 auto;
          margin-top: 2rem;  
          row-gap: 10rem;
          column-gap: 8rem;
      
      
      }

      .container_item__specific
      {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          max-width: 22rem;
          column-gap: 6rem;
          row-gap: 3rem;


    
  
      }

 
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870

       
     

/* tableau */

td
{
    border : 1px solid black;
}
td:nth-child(even) 
{
    text-align: center;
}
td:nth-child(odd) 
{
    padding-left: 4px;
}
table
{
    border-collapse: collapse;
    max-width: 60%;
<<<<<<< HEAD
}


=======
    /*
    margin: auto;
    */
}
/* cartes des rubriques */
#rubriques{
    display: flex;
    flex-direction: column;
}
#rubriques h2{
    text-align: center;
}

.card{
    padding: 1rem 4rem 0 4rem;
}
button{
    background-color:#60d8e5;
    border-radius: 10px;
    margin: 0 3rem;
    padding: 0.5rem 0;
    font-size: 1rem;
}


#fiches-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
    flex-wrap: wrap;
}
#fiches-contact li{
    padding: 0 1rem;
    font-size: 1.25rem;
}
#fiches-contact li:nth-child(1){
    list-style-image: url('../images/icons/mobile.png');
}
#fiches-contact li:nth-child(2){
    list-style-image: url('../images/icons/mail.png');
}
#fiches-contact li:nth-child(3){
    list-style-image: url('../images/icons/github.png');
}
#fiches-contact li:nth-child(4){
    list-style-image: url('../images/icons/business.png');
}


>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
/* HEADER */

        /* Logo */

        .header img
        {
            width: 120px;
            height: auto;
            margin-left: 2rem;
            padding-right: 2rem;
        }

        /* Menu */


            /* Hamburger icon*/

            .hamburger_icon
            {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                cursor: pointer;
                padding-top: 8px;
                margin-right: 2rem;
            }
            .hamburger_icon div
            {
                width: 3rem;
                height: 5px;
                background-color: #3d3431;
                border-radius: 20px;
            }
<<<<<<< HEAD
            
=======

            


>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
            /* Display */

            .header
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center; 
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 6rem;
                background-color: white;
                z-index: 3;
            }

            .menu
            {
                display: grid;
                flex-direction: column;
                justify-content: center;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: 4;
                background-color:rgba(255, 255, 255, 0.94);
                display: none;
                row-gap: 10%;
            }

            .menu div
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: #3d3431;
                z-index: 10; 
                font-weight: bolder; 
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-family: "nunito";
            }
        
            .tool
            {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .croix
            {
                font-size: 2rem;
                font-family: "nunito";
                font-weight: bolder;
                display: none;
                color: #3d3431;
                z-index: 10;
                cursor: pointer;
                right: 4.5rem;
                position: fixed;
            }

            .cocher
            {
                display: none;
            }


            /* Condition */

            #nav_button:checked ~ .menu div 
            {
                display: flex;
                z-index: 10;
            }

            #nav_button:checked ~ .croix 
            {
                display: flex;
            }

            #nav_button:checked ~ .hamburger  
            {
                display: none;
            }

            #nav_button:checked ~ .menu  
            {
                display: flex;
            }


        

/* TABLET */

<<<<<<< HEAD
@media screen and (min-width:30rem)

{
    .margin_one, .margin_two
    {
        margin: 4rem;
        margin-top: 10rem;
    }

    .margin_three
    {
        margin: 8rem;
        margin-top: 10rem;
    }

=======
/* TABLET */
@media screen and (min-width:30rem)

{

  
    .marge, .marge2
    {
        margin: 4rem;
        margin-top: 8rem;
    }

>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
    .header
    {
        height: 8rem;
      
    }

    .header img
    {
        margin-left: 4rem;
    }
<<<<<<< HEAD
            
  
=======
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870

    .home
    {
        text-align: justify;
        max-width: 36rem;
    }
   
    .article
    {
        display: flex;
        flex-direction: column;
        row-gap: 6rem;
        max-width: 70rem;
    }

<<<<<<< HEAD
    .article p
    {
        text-align: justify;
    }

    .article div
    {
        row-gap: 3rem;
      
        
=======
    .container_article p
    {
        text-align: justify;
    }

    .container_article div
    {
        row-gap: 3rem;
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
    }

    .hamburger_icon
    {
        margin-right: 4rem;
    }

<<<<<<< HEAD
    .introduce
    {
        text-align: justify;
        max-width: 36rem;
    }

=======
    #rubriques
    {
        flex-wrap: wrap;
        justify-content: center;
    }
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
    #home-bg{
        background: url("../images/icons/homecircle.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
<<<<<<< HEAD
        }

}


/* PC */

@media screen and (min-width:70rem)
{
    .margin_one, .margin_two, .marge3
    {
        margin: 8rem;
        margin-top: 10rem;
    }

    .home
    {
        align-items: center;
        text-align: justify;
        text-align-last: center;
        max-width: 50.5rem;
    }
        
    .category
    {
        display: flex;
        flex-wrap: wrap;
=======
    }



}

/* PC */

@media screen and (min-width:70rem)
{

    

    .container_index
    {
        align-items: center;
        text-align: justify;
        text-align-last: center;
    }
        
    .marge2
    {
        margin: 8rem;
        
    }
    .marge
    {
        margin: 4rem;
        margin-top: 8rem;
    }
    .container_item 
    {
        display: flex;
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 8rem;
        max-width: 120rem;
    }

    .category_specific
    {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 8rem;
        column-gap: 8rem;
        max-width: 80rem;
    }

<<<<<<< HEAD
    .category_specific__item
    {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        column-gap: 8rem; 
    }

    .category_specific__item__title
    {
        display: none;
 
    }

    .category_specific__item img
    {
        max-width: 22rem;
    }

    .category_specific__item__group
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category_specific__item__group__titlebis
=======
    /* Menu */

    .menu
    {
        position: static;
        display: flex;
        width: inherit;
        height: inherit;
        justify-content: flex-end;
        flex-direction: row;
        column-gap: 3rem;
        background-color: inherit;
        margin-right: 4rem;
    }

    .menu p 
    {
        width: inherit; 
        text-transform: none;
        letter-spacing: inherit;
    }

    label 
    {
        display: none;
    }

    .menu__barre
    {
        display: flex; 
    }

    .barre
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
    {
        display: flex;
    }

<<<<<<< HEAD
    .introduce 
    {
        text-align-last: center;
        grid-row-gap: 4.4rem;
        max-width: 50.5rem;
    }

    /* Menu */

    .menu
    {
        position: static;
        display: flex;
        width: inherit;
        height: inherit;
        justify-content: flex-end;
        flex-direction: row;
        column-gap: 3rem;
        background-color: inherit;
        margin-right: 4rem;
    }

    .menu div 
    {
        width: inherit; 
        text-transform: none;
        letter-spacing: inherit;
    }

    label 
    {
        display: none;
    }

    .menu__barre
    {
        display: flex; 
    }

    .barre
=======
    #nav_button:checked ~ .croix 
    {
        display: none;
    }
    #rubriques{
        flex-direction: row;
    }
    #fiches-contact{
        flex-direction: row;
    }
    #home-bg{
        background: url("../images/icons/homecircle.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }


    /* Navigation article */

    .container_nav_article
    {
        row-gap: 8rem;
        margin-top: 2rem;  
       
    }

    .container_nav_article__item
    {
        display: flex;
        flex-direction: row;
        row-gap: 6rem;
        column-gap: 16rem;
    }

    .container_nav_article__item__title
    {
        display: none;
    }

    .container_nav_article__item__titlebis
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
    {
        display: flex;
    }

<<<<<<< HEAD
    #nav_button:checked ~ .croix 
    {
        display: none;
    }


    /* styles */
    
    .button_red, .button_blue,  .button_purple
    {
        margin-top: 2rem;
    }

    .reverse
    { 
        display: flex;
        flex-direction: row-reverse;
    }

    #home-bg{
        background: url("../images/icons/homecircle.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        }
 
=======
    .container_nav_article__item__group
    {
        align-items: center;
        text-align: center;
        max-width: 24rem;
    }

            /* styles */
            
            .button_red, .button_blue,  .button_purple
            {
                margin-top: 2rem;
            }

            .reverse
            { 
                display: flex;
                flex-direction: row-reverse;
            }


    /* Index */
>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
}
  
    





<<<<<<< HEAD


.introduce p a
        {
            padding: 0.2rem;
        }
=======
.credits 
{
    position: absolute;
    right: 4rem;
    bottom: 4rem;
  
}


>>>>>>> 6ae21aa8848f4e193f675d2e35f28c3f45e90870
