/* BASICS */

@font-face 
{
    font-family: "nunito";
    src: url(fonts/NunitoSans-Regular.ttf),
        url(fonts/NunitoSans-Bold.ttf);
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    font-family: "nunito";
    font-size: 1rem;
    color: #484143;
}

img
{
    width: 100%;
    height: auto;
}

.margin_one, .margin_two
{
    margin: 2rem;
    margin-top: 7rem;
}

.margin_three
{
    margin: 8rem;
    margin-top: 7rem;
}




/* FONTS */

h3
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.2rem;
    color: #3d3431;
}

h2
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.8rem;
}

h1
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 2.4rem;
    color: #3d3431;
    margin-bottom: 1rem;
}

/* icone contact */

#fiches-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
    flex-wrap: wrap;
    }
    #fiches-contact li{
    padding: 0 1rem;
    font-size: 1.25rem;
    }
    #fiches-contact li:nth-child(1){
    list-style-image: url('../images/icons/mobile.png');
    }
    #fiches-contact li:nth-child(2){
    list-style-image: url('../images/icons/mail.png');
    }
    #fiches-contact li:nth-child(3){
    list-style-image: url('../images/icons/github.png');
    }
    #fiches-contact li:nth-child(4){
    list-style-image: url('../images/icons/business.png');
    }


/* home-background */

#home-bg{
    background: url("../images/icons/homecircle-mobile.png") fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    }


/* SHAPES */

.button_red, .button_blue, .button_purple
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3431;
    color:  white;
    width: 120px;
    height: 44px;
    border-radius: 6px;
    letter-spacing: 0.1rem;
}

.barre
{
    width: 2px;
    height: 26px;
    background-color: #ebeaea;
    display: none;
}


/* HOVER */

.button_red:hover
{
    background-color: #ec5971; 
}

.button_blue:hover
{
    background-color: #4addff; 
}

.button_purple:hover
{
    background-color: #a960e5; 
}

.article a span:hover, .introduce a:hover, .contact a:hover, .button:hover
{
    color: #4addff;
}

.menu div:hover, .croix:hover
{
    color: #9a9796
}

.hamburger_icon:hover div
{
    background-color: #9a9796;
}


/* STYLES */

.red 
{
    color: #ec5971;
}

.blue 
{
    color: #4addff;
}

.purple 
{
    color: #a960e5;
}

.lightgrey
{
    color: #9a9796;
    font-style: italic;
}

.mediumgrey
{
    color: #7b7372;
    font-style: italic;
}

.bold
{
    font-weight: bold;
}

.bold2
{
    font-weight: bold;
    font-size: 1.2rem;
}

.bolder
{
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 3.4rem;  
}

.margebottom
{
    margin-bottom: 1rem;
}


/* CONTAINER */


        /* Accueil */

        .home
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto;
            max-width: 51rem;
        }


        /* articles */

        .article
        {
            display: grid;
            grid-auto-flow: row;
            row-gap: 4rem;
            max-width: 70rem; 
            margin: 0 auto;
        }
      
        .article__group 
        {
            display: grid;
            row-gap: 2rem;
            
        }

        .article .double_titre 
        {
        display: flex;
        flex-direction: row;
        row-gap: 1.4rem;
        column-gap: 5rem;
        flex-wrap: wrap;
        }


        /* category - category_specific */

        .category, .category_specific
        {
            display: grid;
            grid-auto-flow: row;
            row-gap: 8rem;
            margin: 0 auto;
        }  

        .category__item, .category_specific__item
        {
            display: grid;
            grid-auto-flow: row;
            row-gap: 3rem;
            justify-items: center;
            text-align: center;
        }

        .category__item__description, .category_specific__item__group
        {
            display: grid;
            text-align: justify;
            justify-items: center;
            align-items: center;
            row-gap: 1rem;
            text-align-last: center;   
            max-width: 22rem;
        } 

        .category_specific__item__group
        {
            text-align: center;
        }

        .category__item img, .category_specific__item img
        {
            max-width: 30rem;
        }

        .category__item__title, .category_specific__item__title, .category_specific__item__group__titlebis
        {
            font-weight: bold;
            font-size: 1.8rem;
        }

        .category_specific__item__group__titlebis
        {
            display: none;
        }

        
        /* A propos */
   
        .introduce
        {
            max-width: 50.5rem;
            display: grid;
            row-gap: 2rem;
            margin: 0 auto;
        }


        /* contact */

        .contact
        {
            display: grid;
           row-gap: 8rem;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .contact a
        {
            padding: 0.2rem;
        }


      



     
      

 

        
        
  

       
     

/* tableau */

td
{
    border : 1px solid black;
}
td:nth-child(even) 
{
    text-align: center;
}
td:nth-child(odd) 
{
    padding-left: 4px;
}
table
{
    border-collapse: collapse;
    max-width: 60%;
}


/* HEADER */

        /* Logo */

        .header img
        {
            width: 120px;
            height: auto;
            margin-left: 2rem;
            padding-right: 2rem;
        }

        /* Menu */

            /* Hamburger icon*/

            .hamburger_icon
            {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                cursor: pointer;
                padding-top: 8px;
                margin-right: 2rem;
            }
            .hamburger_icon div
            {
                width: 3rem;
                height: 5px;
                background-color: #3d3431;
                border-radius: 20px;
            }
            
            /* Display */

            .header
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center; 
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                height: 6rem;
                background-color: white;
                z-index: 3;
            }

            .menu
            {
                display: grid;
                flex-direction: column;
                justify-content: center;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: 4;
                background-color:rgba(255, 255, 255, 0.94);
                display: none;
                row-gap: 10%;
            }

            .menu div
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: #3d3431;
                z-index: 10; 
                font-weight: bolder; 
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-family: "nunito";
            }
        
            .tool
            {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .croix
            {
                font-size: 2rem;
                font-family: "nunito";
                font-weight: bolder;
                display: none;
                color: #3d3431;
                z-index: 10;
                cursor: pointer;
                right: 4.5rem;
                position: fixed;
            }

            .cocher
            {
                display: none;
            }

            /* Condition */

            #nav_button:checked ~ .menu div 
            {
                display: flex;
                z-index: 10;
            }

            #nav_button:checked ~ .croix 
            {
                display: flex;
            }

            #nav_button:checked ~ .hamburger  
            {
                display: none;
            }

            #nav_button:checked ~ .menu  
            {
                display: flex;
            }


        

/* TABLET */

@media screen and (min-width:30rem)

{
    .margin_one, .margin_two
    {
        margin: 4rem;
        margin-top: 10rem;
    }

    .margin_three
    {
        margin: 8rem;
        margin-top: 10rem;
    }

    .header
    {
        height: 8rem;
      
    }

    .header img
    {
        margin-left: 4rem;
    }
            
  

    .home
    {
        text-align: justify;
        max-width: 36rem;
    }
   
    .article
    {
        display: flex;
        flex-direction: column;
        row-gap: 6rem;
        max-width: 70rem;
    }

    .article p
    {
        text-align: justify;
    }

    .article div
    {
        row-gap: 3rem;
      
        
    }

    .hamburger_icon
    {
        margin-right: 4rem;
    }

    .introduce
    {
        text-align: justify;
        max-width: 36rem;
    }

    #home-bg{
        background: url("../images/icons/homecircle.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        }

}


/* PC */

@media screen and (min-width:70rem)
{
    .margin_one, .margin_two, .marge3
    {
        margin: 8rem;
        margin-top: 10rem;
    }

    .home
    {
        align-items: center;
        text-align: justify;
        text-align-last: center;
        max-width: 50.5rem;
    }
        
    .category
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 8rem;
        max-width: 120rem;
    }

    .category_specific
    {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 8rem;
        column-gap: 8rem;
        max-width: 80rem;
    }

    .category_specific__item
    {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        column-gap: 8rem; 
    }

    .category_specific__item__title
    {
        display: none;
 
    }

    .category_specific__item img
    {
        max-width: 22rem;
    }

    .category_specific__item__group
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category_specific__item__group__titlebis
    {
        display: flex;
    }

    .introduce 
    {
        text-align-last: center;
        grid-row-gap: 4.4rem;
        max-width: 50.5rem;
    }

    /* Menu */

    .menu
    {
        position: static;
        display: flex;
        width: inherit;
        height: inherit;
        justify-content: flex-end;
        flex-direction: row;
        column-gap: 3rem;
        background-color: inherit;
        margin-right: 4rem;
    }

    .menu div 
    {
        width: inherit; 
        text-transform: none;
        letter-spacing: inherit;
    }

    label 
    {
        display: none;
    }

    .menu__barre
    {
        display: flex; 
    }

    .barre
    {
        display: flex;
    }

    #nav_button:checked ~ .croix 
    {
        display: none;
    }


    /* styles */
    
    .button_red, .button_blue,  .button_purple
    {
        margin-top: 2rem;
    }

    .reverse
    { 
        display: flex;
        flex-direction: row-reverse;
    }

    #home-bg{
        background: url("../images/icons/homecircle.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        }
 
}





.introduce p a
        {
            padding: 0.2rem;
        }