@font-face 
    {
        font-family: "nunito";
        src: url(fonts/NunitoSans-Regular.ttf),
            url(fonts/NunitoSans-Bold.ttf);
    }

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
.header{
    position: fixed;
    top: 3%; /* pour que le header soit toujours au bon endroit*/
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    margin: 2rem; /*doute*/
}
img
{
    width: 100%;
    margin: auto;
    max-width: 40rem;
    height: auto; /* pour que les images soient responsives*/
}



a span:hover,  .menu p:hover
{
    color: #60d8e5;
}



/* FONTS */

h3
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.2rem;
    color: #3d3431;
}

h2
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 1.8rem;
    color: #3d3431;
}

h1
{
    font-family: "nunito";
    font-weight: bold;
    font-size: 2.4rem;
    color: #3d3431;
    margin-bottom: 1rem;
}

.font_text
{
    font-family: "nunito";
    font-size: 1rem;
    color: #484143;
}


/* CONTAINER */

.container_article
{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    max-width: 70rem;
   
} /*il contient l'article entier*/

.container_article div
{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

td{
    border : 1px solid black;
}
td:nth-child(even) {
    text-align: center;
}
td:nth-child(odd) {
    padding-left: 4px;
}
table{
    border-collapse: collapse;
    max-width: 60%;
    margin: auto;
}
.signature{
    text-align: right;
}
/* HEADER */

    /* Logo */

 .header img
 {
     max-width: 8rem;
     height: auto;
 }

    /* Menu */

        /* Hamburger icon*/

        .hamburger_icon
        {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            cursor: pointer;
            padding-bottom: 5px;
        }
        .hamburger_icon div
        {
            width: 3rem;
            height: 5px;
            background-color: #3d3431;
            border-radius: 20px;
        }

        .hamburger_icon:hover div
        {
            background-color: #60d8e5;
        }

        /* Display */

        .header
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end; 
            width: 100%;
            margin-bottom: 6rem;
        }

        .menu
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 6;
            background-color:rgba(255, 255, 255, 1);
            display: none;
            row-gap: 10%;
        }

        .menu p
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: #3d3431;
            z-index: 10; 
            font-weight: bolder; 
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            font-family: "nunito";
        }
       
        .tool
        {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .croix
        {
            font-size: 2rem;
            font-family: "nunito";
            font-weight: bolder;
            display: none;
            color: #3d3431;
            z-index: 10;
            cursor: pointer;
            right: 4.5rem;
            position: fixed;
        }

        .cocher
        {
            display: none;
        }

        /* Condition */

        #nav_button:checked ~ .menu p 
        {
            display: flex;
            z-index: 10;
        }

        #nav_button:checked ~ .croix 
        {
            display: flex;
        }

        #nav_button:checked ~ .hamburger  
        {
            display: none;
        }

        #nav_button:checked ~ .menu  
        {
            display: flex;
        }

#fiches-contact{
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
}
#fiches-contact li{
    padding: 0 1rem;
}
#fiches-contact li:nth-child(1){
    list-style-image: url('../images/icons/mobile.png');
}
#fiches-contact li:nth-child(2){
    list-style-image: url('../images/icons/mail.png');
}
#fiches-contact li:nth-child(3){
    list-style-image: url('../images/icons/github.png');
}
#fiches-contact li:nth-child(4){
    list-style-image: url('../images/icons/business.png');
}



@media screen and (min-width:30rem)
{
    .container_article
    {
        display: flex;
        flex-direction: column;
        row-gap: 6rem;
        max-width: 70rem;
    }

    body
    {
        margin: 4rem;
    }
    
    .container_article div
    {
        row-gap: 3rem;
    }

    p
    {
        text-align: justify;
        color: #544e4d;
    }
}




@media screen and (min-width:78rem)
{


        /* Menu */

        .menu
        {
            position: static;
            display: flex;
            width: inherit;
            height: inherit;
            justify-content: flex-end;
            flex-direction: row;
        
            column-gap: 3rem;
            background-color: inherit;
        }

        .menu p 
        {
            width: inherit; 
           
            text-transform: none;
            letter-spacing: inherit;
        }

        label 
        {
            display: none;
        }

        .menu__barre
        {
            display: flex; 
        }
        #nav_button:checked ~ .croix 
        {
            display: none;
        }
}


.container_article .double_titre 
{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 column-gap: 8rem;
}
/* ces 3 suivants sont à rajouter dans les classes pour modifier les éléments*/
.line
{
    line-height: 1.85rem; /* à utiliser pour espacer les ligne d'un liste par exemple*/

}

.lightgrey
{
    color: #9a9796;
    font-style: italic;
}

.bold
{
    font-weight: bold;
}